/**
*
Name: Snyder Recordings
Author: Tim Stone
Author URI: http://tjstone.me
Description: Main Stylesheet for Lifted Logic Project
Version: 1.0
License: Private Use
Text Domain: Snyder Recordings
*
*/


/* ------------------ Contents ------------------ */

/*
*
* - 1.0 Text Formatting
* - - 1.1 Typography
* - 2.0 Div Styling
* - - 2.1 Navigation Styling
* - - 2.2 Site Hero Styling
* - - 2.3 About Section Styling
* - - 2.4 New Releases Slider Styling
* - - 2.5 Map Section Styling
* - - 2.6 Contact Section Styling
* - - - 2.6.1 Contact Form Styling
* - - 2.7 Footer Styling
* - - 2.8 Global Divs
*
*/

/* ------ --- --- --- 1.0 Text Formatting --- --- ------ */

/* --- --- --- 1.1 Typography --- --- --- */

.hero {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 65px;
  letter-spacing: .73px;
  line-height: 76px;
}
h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 50px;
}
h2 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #001d5d;
}
h3 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
}
button {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 18px;
}
body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 25px;
  margin: 0;
}
.btn {
  background-color: #D9F0D0;
  color: #68C242;
  font-size: 15px;
  padding: 15px 50px;
  cursor: pointer;
}
.btn:hover {
  background-color: #68C242;
  color: #fff;
}

/* ------ --- --- --- 2.0 Div Styling --- --- ------ */

/* --- --- --- 2.1 Navigation Styling --- --- --- */

.nav-container {
  padding: 25px 50px;
  background-color: #ffffff;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  box-shadow: 0px 1px 9px #00000080;
  z-index: 9999999;
}
.logo-container {
  display: inline-block;
}
.site-logo {
  min-width: 100px;
}
.menu-container {
  display: inline-block;
  float: right;
  padding-right: 25px;
}
.nav {
  list-style: none;
  position: relative;
  bottom: 20px;
}
.nav-items {
  display: inline-block;
  padding: 10px 25px;
}
.nav-links {
  color: #001D5D;
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 25%;
}
.nav-items:last-child .nav-links {
  background-color: #D9F0D0;
  color: #68C242;
  font-size: 15px;
  padding: 15px 50px;
}
.nav-items:last-child .nav-links:hover {
  background-color: #68C242;
  color: #fff;
}
.nav-icons {
  padding-right: 10px;
}

/* --- --- --- 2.2 Site Hero Styling --- --- --- */

.hero-container {
  background-image: url("../img/images/image1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-width: 100%;
}
.hero-content {
  color: #fff;
  padding: 20% 50px;
  float: left;
  max-width: 27%;
}
.hero-content p {
  margin-bottom: 20px;
}
.video-link {
  color: #fff;
  text-decoration: none;
}
.video-link-inner {
  position: relative;
  bottom: 14px;
}
.play-img {
  padding-right: 15px;
}

/* --- --- --- 2.3 About Section Styling --- --- --- */

.about-container {
  margin: 5%;
}
.about-img {
  max-width: 100%;
}
.info-container {
  padding-top: 5px;
  max-width: 50%;
  text-align: left;
}
.btn-container {
  float: left;
  position: relative;
  bottom: 0px;
  top: 7vh;
}

/* --- --- --- 2.4 New Releases Slider Styling --- --- --- */

.slider-container {
  background-color: #f6f6f6;
}
.slider-section {
  padding: 50px 0px;
}
.slider-info {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 25%;
  padding-bottom: 50px;
}
.slider {
  display: block;
  margin: auto;
  text-align: center;
}

/* --- --- --- 2.5 Map Section Styling --- --- --- */

#map {
  height: 400px !important;
  width: 100%;
}
html, body #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* --- --- --- 2.6 Contact Section Styling --- --- --- */

.contact-img {
  position: relative;
  bottom: 220px;
  z-index: -99999;
  left: 42%;
}
.left-align {
  text-align: left !important;
}
.form-container {
  text-align: left !important;
}
.form-section {
  float: right;
}

/* ---  2.6.1 Contact Form Styling --- */

form {
  padding: 50px 0px;
}
input {
  background-color: #e8e8e8;
  border: none;
  padding: 15px;
  color: #000000;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-right: 6%;
}
select {
  background-color: #e8e8e8;
  border: none;
  padding: 15px;
  color: #000000;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-right: 6%;
}
textarea {
  background-color: #e8e8e8;
  border: none;
  padding: 15px;
  color: #000000;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-right: 6%;
}

/* --- --- --- 2.7 Footer Styling --- --- --- */

.footer-container {
    background-color: #010d5d;
    padding: 5% 5% 2% 5%;
    color: #fff;
}
.col-6 {
    display: inline-block;
    margin: auto;
    width: 15%;
    vertical-align: top;
}
.foot-headers{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    text-align: left;
    margin-top: 0px;
}
.foot-nav {
    padding-left: 0px;
}
.foot-items {
    display: block;
    text-align: left;
    font-weight: 200;
}
.foot-links {
    color: #fff;
    text-decoration: none;
}
.foot-text {
    display: block;
    text-align: left;
    font-weight: 200;
}
.foot-logo {
    display: block;
    float: left;
    padding-bottom: 25px;
    vertical-align: top;
    padding-right: 100%;
}
.foot-top {
    padding-bottom: 50px;
}
.foot-bottom {
    border-top: 1px solid #30477B;
    padding: 2% 0%;
    max-width: 92%;
}
.foot-right {
    display: inline-block;
    float: right;
    max-width: 50%;
}
.foot-left {
    display: inline-block;
    float: left;
    max-width: 50%;
}
.bottom-links {
    display: inline-block;
    font-weight: 700;
    padding-right: 20px;
}

/* --- --- --- 2.8 Global Divs --- --- --- */

.site-wrapper {
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  bottom: 15px;
  margin-bottom: -242px;
}
.row {
  margin: auto;
  display: block;
  text-align: center;
}
.column {
  margin: auto;
  display: inline-block;
  max-width: 40%;
  padding-right: 20px;
  vertical-align: top;
}
.column .left {
  float: left;
}
.column .right {
  float: right;
}

/* --- --- --- End of Style --- --- --- */
